body {

    display: flex;
    justify-content: center;
    align-items: center;
}

#reader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 400px;
}


#reader div:nth-child(1) img {
    display: none;
    height: 30px;
    padding: 4px;
}

#reader div:nth-child(1) button {
    cursor: pointer;
    border-width: 1px;
    border-radius: 10px;
    padding: 6px 20px;
    font-weight: bold;
}





#reader__header_message {
    padding: 10px !important;
    font-size: 20px !important;
}

#qr-shaded-region {
    margin: auto !important;
    border-color: black !important;
}

#result {
    display: block;
    max-width: 80vw;
    margin: auto;
    text-align: center;
}

#reader__dashboard_section_csr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span {
    display: block;
    margin-top: 10px;
}

video {
    height: 300px;
    min-width: 300px;
    margin: auto;
}


/* for image */
/* #reader div:nth-of-type(2) {
    display: none;
} */