body {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home {
    cursor: pointer;
    margin-left: 10px;
}

.flash {
    margin-right: 10px;
    display: none;
}

h1 {
    text-align: center;
}

.footer {
    text-align: center;
}

#reader {
    width: 300px;
    padding: 20px !important;
    border-radius: 20px;
    border: dashed !important;
}



#reader div:nth-child(1) img {
    display: none;
    height: 30px;
    padding: 4px;
}

#reader div:nth-child(1) button {
    cursor: pointer;
    border-width: 1px;
    border-radius: 10px;
    padding: 6px 20px;
    font-weight: bold;
}





#reader__header_message {
    padding: 10px !important;
    font-size: 20px !important;
}



#result {
    display: block;
    max-width: 80vw;
    margin: auto;
    text-align: center;
}



span {
    display: block;
    margin-top: 10px;
}




@media only screen and (max-width: 600px) {
    .flash {
        display: inline-block;
    }
}